*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: roboto;
}
body{
    width: 80%;
    height: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EDF2EE;
}

.container{
    margin: 1% 40% 0% 40%;
    padding: 10px 60px;
    width: 45%;
    height: 40%;
    border-radius: 20px;
    background-color: #ffff;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: center;
    color: #00000;
    margin-bottom: 30px;
    /*text-transform: uppercase;*/
    border-bottom: 4px solid #2979ff;
}
.container label{
    text-align: left;
    color: #BABABA;
}
.container form input{
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #BABABA;
    border-radius: 20px;
    
    color: #00000;
    font-size: 20px;
}
.container form button{
    width: 30%;
    padding: 15px 0;
    border: none;
    border-radius: 20px;
    background-color:#FFCC4D;
    font-size: 18px;
    color: #00000;
}
.imglogo{
    width: 15%;
    height: 15%;
    margin-top: 0%;

}
.text1{
    padding-bottom: 0%;
    padding-top: 5%;
}
.upload{
    
}