<!DOCTYPE HTML>
<html>
    <head>
        <title>Halaman Login</title>
        <link rel="stylesheet" href="../static/img/home/login.css">

    </head>
    

    <body>
        

        {% load crispy_forms_tags %}
       	<div class="container">
        <a href="../" style="text-align:center; text-decoration: none;"><h3>X</h3></a>

        <p style="padding-bottom:20% ; margin-top: -15%;"><a href="../">X</a></p>

          <center>
            <img class="imglogo" src="../static/img/home/logosekam.png">
            <h2 class="text1">Login ke Akun Anda</h1></center>
            <form action="" method="POST">
                {% csrf_token %}

                <fieldset class="form-group">
                  {{ form|crispy }}
                </fieldset>

                <center><button class="btn ">Sign In</button></center>

            <br>
             <a href="../register" style="text-decoration: none;"><h5>Tidak punya akun? Daftar Disini</h5></a>
             <!-- <a href="#"><p>Lupa Kata Sandi?</p></a> --><br>
            </form>
        </div>     
    </body>
</html>