<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>{{semua_akun.judul}} | SEKAM</title>
    <link rel="stylesheet" type="text/css" href="/static/img/berita/editnews.css">
</head>

<body>

<!-- <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background: #29166F; border-radius: 30px; box-shadow: 10px 10px 5px lightgrey;">
      <a class="navbar-brand" href="../">
        <img src="/static/img/berita/logosekam.png" width="85" height="85" alt="">
      </a>
 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
      <ul class="navbar-nav ml-auto">
        <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;">
        <a href="/" style="color: white;" ><b>Beranda</b></a>
      </li>
      <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/berita"style="color: white;" ><b>Berita</b></a></li>
      <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/umkm" style="color: white;"><b>UMKM</b></a></li>


      

      {% if user.is_authenticated %}
        <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/forum" style="color: white;"><b>Forum</b></a></li>

        <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/logout" style="color: red;"><b>Keluar</b></a></li>
      {% else %}
      <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/login" style="color: white;"><b>Forum</b></a></li>


      <span class="navbar-text mr-3">
        Silahkan login atau daftar akun
      </span>
 
      <a href="/login" class="btn btn-outline-success mr-2"><b>Login</b></a>
      <a href="/register" class="btn btn-outline-danger"><b>Daftar</b></a>
      
      {% endif %}
      {% if user.is_superuser %}
        <li style="padding-right: 50px; font-family: sans-serif; font-style: bold; color: white;"><a href="/admin" style="color: white;"><b>Admin</b></a></li>
      {% endif %}
      </ul>
 
      
 
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background: #29166F; border-radius: 30px; box-shadow: 10px 10px 5px lightgrey;">
      <a class="navbar-brand" href="../">
        <img src="/static/img/berita/logosekam.png" width="85" height="85" alt="">
      </a>
 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
      <ul class="navbar-nav ml-auto">
        <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;">
        <a href="/" style="color: white;" ><b>Beranda</b></a>
      </li>
      <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/berita"style="color: white;" ><b>Berita</b></a></li>
      <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="/umkm" style="color: white;"><b>UMKM</b></a></li>


      

      {% if user.is_authenticated %}
        <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="../forum" style="color: white;"><b>Forum</b></a></li>

        <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="../logout" style="color: red;"><b>Keluar</b></a></li>
      {% else %}
      <li style="padding-right: 20px; font-family: sans-serif; font-style: bold; color: white;"><a href="../login" style="color: white;"><b>Forum</b></a></li>


      <span class="navbar-text mr-3">
        Silahkan login atau daftar akun
      </span>
 
      <a href="../login" class="btn btn-outline-success mr-2"><b>Login</b></a>
      <a href="../register" class="btn btn-outline-danger"><b>Daftar</b></a>
      
      {% endif %}
      {% if user.is_superuser %}
        <li style="padding-right: 50px; font-family: sans-serif; font-style: bold; color: white;"><a href="../admin" style="color: white;"><b>Admin</b></a></li>
      {% endif %}
      </ul>
 
      
 
    </div>
</nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
          
      </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<span class="navberita">
<button class="btn-light" style="border-radius: 20px;"><a href="/berita" data-toggle="tooltip" data-placement="top" title="Klik untuk berita lainya"><b style="font-size: 14px;">< Kembali</b></a></button>




<div class="container">
  <div class="row">
    
    <div class="col-sm-7">
      <div class="card mb-3">
        <img src="/{{semua_akun.gambar}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i>{{semua_akun.penulis}}</i></h5>
          <p style="font-size: 8px;">{{semua_akun.tanggal}}</p>
          <a href=""><h2>{{semua_akun.judul}}</h2></a>
          {{semua_akun.isi_berita}}
        </div>
      </div>
      
    </div>
  </div>       
</div>
     

 


<div id="top"><a href="#">TOP</a></div>
</body>

</html>






<!-- <span class="navberita">
<button class="btn-light" style="border-radius: 20px;"><a href="newskonten.html" data-toggle="tooltip" data-placement="top" title="Klik untuk berita lainya"><b>Home</b></a></button>
<button class="btn-light" style="border-radius: 20px;"><a href="eventnews.html"data-toggle="tooltip" data-placement="top" title="Klik untuk  melihat event yang berlangsung"><b>More News</b></a></button>

</span> -->