html {
scroll-behavior: smooth;
}
h1 {
  color: #fff;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: #fff;
  font-family: courier;
  font-size: 160%;
}

body { 
  background-image: url('imageasset/UKM8.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-family: verdana;


}

form {
    width:500px;
    margin:50px auto;
    font-family: verdana;
}


a{text-decoration: none; font-size: 20px;font-family: verdana;;padding: 14px 10px}
ul{
    padding: 14px;
font-family: verdana;
}
li{
    list-style: none; 
    display: inline;
    font-family: verdana;
}
li a{ 
    color:#d4d4d4;
    font-family: verdana;
}
li a:hover{background: #4da4ff; color:#fff; font-family: verdana;}


.kanan{
    width: 50%;
    height: 150%;
}
.kiri{
    font-size: 72pt;
    margin-left: 20%;

}
.wrapper{
    width: 10%;
    display: flex;
    
}
.img1{
    margin-top: 15%;
    width: 80%;
    height: auto;
}
.imglogo{
    position: !important;
    margin: 2% 4% 8% 10%;
    width:8% ;
    height:10%;
  
}
.konten{
  margin-top: -300px;
  right: 100px;
  position: absolute;
}



.box1{
margin: 7% 0% 0%0%;
width:90%;
height:450px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
font-family: verdana;
}
.box2{
margin: 7% 0% 0%0%;
width:90%;
height:450px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
font-family: verdana;
}
.box3{
margin: 12% 0% 0%0%;
width:100%;
height:450px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
font-family: verdana;
}
.box4{
margin: 12% 0% 0%0%;
width:100%;
height:450px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
font-family: verdana;
}
.box5{
margin: 12% 0% 0%0%;
width:100%;
height:450px;
background:#dfdfdf;
border-radius: 50px;
box-shadow: 10px 10px 5px lightblue;
font-family: verdana;
}

.TombolKembali{
    padding-top: 2%;
    margin-left: -85%;
    height: 18%;
    width: 4%;
}
.Layoutdalam{
    display: flex;
}
.gambarberita{
    margin-right: 40%;
    height:40%;
    width:40%;
    border-radius: 20px;
}
.konten{
    padding-left: 50%;
    padding-top: 5%;
    font-family: verdana;
}
.TombolLanjut{
    margin-left: 60%;
    font-family: verdana;
}

.navberita{
    position: absolute;
    margin: 1% 2% 5% 2%;
    font-family: verdana;

}
#top a {
padding: 1rem;
background-color: red;
color: black;
position: fixed;
right: 1rem;
bottom: 1rem;
border-radius: 50px;
font-family: verdana;
}